.center-wrapper {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  height: 100vh;  
  text-align: center;           /* full viewport height */
}

.logo {
  height: 250px;
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
